

body {
    background-color: #BFD9CC;
}

h1{
    text-align: center;
    color: rgb(123, 164, 247);
    font-size: 90px;
    position: relative;
    width: 1000px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -350px;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

#game-surface{
    margin-top: 300px;
    max-width: 82vw;
    max-height: 75vh;
}

.game-content, .btns-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns-container{
    margin-top: 60px;
}

.btns-container button{
    padding: 12px;
    margin: 15px;
    cursor: pointer;
}

.game-over{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99;
}

.game-over-title {
    margin: 0;
    position: absolute; 
    left: 0;             
    top: 50%;                         
    transform: translate(0, -50%);
    width: 100vw;
    
    color: white;
    text-align: center;
    font-size: 100px;
    font-weight: 600;
    z-index: 100;

    font-family: 'Inter Tight', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

.game-won-title {
    margin: 0;
    position: absolute; 
    left: 0;             
    top: 50%;                         
    transform: translate(0, -50%);
    width: 100vw;
    
    color: greenyellow;
    text-align: center;
    font-size: 100px;
    font-weight: 600;
    z-index: 100;

    font-family: 'Inter Tight', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

.reload {
    margin: 0;
    position: absolute; 
    left: 0;             
    top: 70%;                         
    transform: translate(0, -50%);
    width: 100vw;
    
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    z-index: 100;
    cursor: pointer;

    background-color: rgba(240, 248, 255, 0);
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

.reload:hover{
    color: rgba(255, 0, 0, 0.818);
    transition: all 0.2s;
}
