

body {
    background-color: #BFD9CC;
}

h1{
    text-align: center;
    color: rgb(123, 164, 247);
    font-size: 90px;
    position: relative;
    width: 1000px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -350px;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

#game-surface{
    margin-top: 300px;
    max-width: 82vw;
}

.game-content, .btns-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns-container{
    margin-top: 60px;
}

.btns-container button {
    padding: 12px;
    margin: 15px;
    cursor: pointer;
}